.grid-container {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(2, 1fr); /* Create 2 equal columns */
  gap: 10px; /* Adjust the gap between items */
}
.grid-item {
  width: 100%;
  border: 2.5px solid violate;
  padding: 10px;
  aligh-items: left;
}
.grid-itemX {
  width: 100%;
  border: 2.5px solid violate;
  padding: 10px;
  aligh-items: right;
}

#myFooter {
    background-color: transparent;
    color: black;
    text-align: center;
    padding: 7px;
    position: fixed;
    width: 100%;
    bottom: 0.5;
}

.audio-container {
    max-width: 400px;
    margin: 0 auto;
    text-align: center;
}

audio {
    width: 100%;
    display: block;
}

#volume-control {
    width: 100%;
}


#audio-player-container {
    width: 100%;
    text-align: center; /* Center the iframe horizontally */
    background-color: Purple;
    padding: 20px;
    color: white;
}

#audio-player {
    width: 100%;
    height: 50px; /* Set the desired height */
    border: none; /* Remove iframe border */
}
