#myFooter {
    background-color: transparent;
    color: black;
    text-align: center;
    padding: 10px;
    position: fixed;
    width: 100%;
    bottom: 0;
}
/* Set the background image for the body */
body {
    background-image: url('Elements/Images/DAF22E2E-BCDF-4E7F-A120-07C858EB1282.jpeg');
    background-repeat: repeat;
    background-size: cover;
    font-family: 'Times New Roman', Times, serif;
}

/* Set the image to fit for all browsers */
img {
    max-width: 100%;
    height: auto;
}

h1 {
    color: powderblue;
}

h2 {
    color: cyan;
}

h4 {
    color: red;
}

h5 {
    color: white;
}
