/* CSS file */

/* Set the background image for the body */
body {
    background-image: url('Elements/Images/2151278822.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Times New Roman', Times, serif;
}

/* Set the image to fit for all browsers */
img {
    max-width: 100%;
    height: auto;
}

/* Style the footer */
footer {
    background-color: transparent;
    color: black;
    text-align: center;
    padding: 10px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}
