#myFooter {
    background-color: transparent;
    color: black;
    text-align: center;
    padding: 7px;
    position: fixed;
    width: 100%;
    bottom: 0.5;
}
/* Set the background image for the body */
body {
    background-image: url('Elements/Images/95DA79CE-3444-4564-9D1D-492549A6F3B8.jpeg');
    background-repeat: repeat;
    background-size: cover;
    font-family: 'Times New Roman', Times, serif;
}

/* Set the image to fit for all browsers */
img {
    max-width: 100%;
    height: auto;
    align: center;
}

h1 {
    color: powderblue;
}

h2 {
    color: cyan;
}

h4 {
    color: red;
}

.audio-container {
    max-width: 400px;
    margin: 0 auto;
    text-align: center;
}

audio {
    width: 100%;
    display: block;
}

#volume-control {
    width: 100%;
}


#audio-player-container {
    width: 100%;
    text-align: center; /* Center the iframe horizontally */
    background-color: Purple;
    padding: 20px;
    color: white;
}

#audio-player {
    width: 100%;
    height: 50px; /* Set the desired height */
    border: none; /* Remove iframe border */
}


h5 {
    color: white;
}

/* styles.css */

.video-container {
    max-width: 720px;
    margin: 0 auto;
}

video {
    width: 100%;
    display: block;
}

.controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

#play-pause-button {
    background-color: purple;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

#volume-control {
    width: 100px;
}

.nude-button {
            display: inline-block;
            padding: 10px 20px;
            background-color: purple;
            color: yellow;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            text-decoration: none;
        }
.nude-button:hover {
            background-color: grey;
        }
.my-button {
            display: inline-block;
            padding: 10px 20px;
            background-color: blue;
            color: white;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            text-decoration: none;
        }
.my-button:hover {
            background-color: red;
        }
    .container {
        position: relative;
        overflow: hidden;
        width: 100%;
        padding-top: 56.25%;
    }
    .responsive-iframe {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        width: 100%;
        height: auto;
    }
